[user]
	name = Zack Reneau-Wedeen
	email = xaq2892@yahoo.com
[alias]
	co = checkout
	checkout = co
	graph = log --graph --pretty=\"format:%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset\"
[core]
[github]
	user = xaq2892
	token = 7b8d8823bbd2ad2b51e24f4af5e04996
[merge]
	tool = vimdiff
[color]
	status = auto
	interactive = auto
	branch = auto
	diff = auto
	ui = true
[core]
	editor = vim
